numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
statsmodels
jupyter
tensorflow
keras
torch
torchvision
torchaudio
requests
beautifulsoup4
lxml
selenium
openpyxl
pillow
tqdm
pyautogui
nltk
pypdf
SQLAlchemy
pdfminer.six
docx2txt
sentence-transformers
streamlit
flask
flask-cors
